In [4]:
import dask.dataframe as dd
import pandas as pd

dataset_size = 'full'
all_data_path = './../data/vax/'
data_path = f'./../data/vax/{dataset_size}/'

In [6]:

ddf = dd.read_csv(f'{data_path}/vax_count.csv', sep=',', dtype={'code': str})

ddf = ddf.set_index('date')

ddf.head()

              code  vaccinated
date
1962-02-14  410550           1
1976-11-20  411210           1
1986-06-15  411550           1
2002-09-18  411210           1
2009-07-29  320530           1

In [10]:
ddf['vaccinated'] = ddf.groupby(['code'])['vaccinated'].cumsum()

ddf.head()

              code  vaccinated
date
1962-02-14  410550           1
1976-11-20  411210           1
1986-06-15  411550           1
2002-09-18  411210           2
2009-07-29  320530           1

In [11]:
ddf = ddf.fillna(0)

print('saving accumulated vaccinated')
ddf.to_csv(f'{data_path}/vax_count_acc.csv', single_file=True, index=False)

saving accumulated vaccinated

['/home/jedi/git-repos/CD Covid Project/data/vax/full/vax_count_acc.csv']